<% provide(:title, 'referat') %>
<html>
  <head>
    <title>Стабильня часть title | Меняющийся заголовок Referat</title>
  </head>
  <body>
<h2>Это реферат Хартла</h2>  
      <!-- Но не видно title-->
<!--Настройки CSS  -->
<style> 
.toc > ol {
  counter-reset: li;
}
.toc > ol > li {
  counter-increment: li;
}
.toc ol ol {
  counter-reset: lili;
}
.toc ol ol li {
  position: relative;
  list-style: none;
}
.toc ol ol li:before {
  content: counter(li) "." counter(lili) ".";
  counter-increment: lili;
  position: absolute;
  left: -2em;
}
</style> 
<!--Настройки no  
<style> 
.numtext > ol {
  counter-reset: li;
}
.numtext > ol > li {
  counter-increment: li;
}
.numtext ol ol {
  counter-reset: lili;
}
.numtext ol ol li {
  position: relative;
  list-style: none;
}
.numtext ol ol li:before {
  content: counter(li) "." counter(lili) ".";
  counter-increment: lili;
  position: absolute;
  left: -2em;
}
</style> -->
<!-----------     TOC                   ---->
<nav class="toc">
  <h2>Содержание:</h2>
  <ol>
<li><a href="#Glava1">Глава 1. First application </a>
   <ol>
	<li><a href="#railsnew">Листинг 1.3. Запуск rails new</a>
<li><a href="#Листинг 1.5">Листинг 1.5. Gemfile надлежащий.</a>
<li><a href="#Gemfile_dob">Gemfile с добавленными гемами</a>
 </ol>

<li><a href="#Glava2">Глава 2. Demo_app </a>  
<ol>
<li><a href="#Users_rb">Листинг 2.2. Маршруты Rails для ресурса Users. </a> 
<li><a href="#RESTful_1">Таблица 2.2:RESTful маршруты для Users Листинг2.2.</a>
<li><a href="#index">Листинг 2.4. Упрощенное index действие </a>
<li><a href ="#User">Листинг 2.5. Модель User </a>
<li><a href="#index">Листинг 2.6. Представление для index.Добавить png ! </a>
<li><a href="#Microposts_routes">Листинг 2.7. Маршруты для Microposts</a>
Листинг 2.7. Маршруты Rails с новым правилом для ресурсов Microposts. 
<li><a href="Contr_Mcrpsts_1">Листинг 2.8. Контроллер Microposts в схематичной форме.</a> 
<li><a href="RESTful_2">Таблица 2.3: RESTful маршруты для Microposts</a>
</ol>








<li><a href="#Glava3">Глава 3 статические страницы</a> 
      <ol>
        <li><a href="#Table3.1">Таблица 3.1</a>
        <li><a href="#gen_controller">Генерация контроллера</a>
      </ol>
<li><a href="#dva">Стихи</a>
      <ol>
        <li><a href="#r">Буква «Р»</a>
        <li><a href="#bullfinch">Снегирь</a>
      </ol>
</nav>
<!------------------                 Текст-->			
<nav class="toc"> 
<ol>
<li><h4 id="Glava1">Глава 1 First application </h4>
   <ol>
<li><h5 id="railsnew">Листинг 1.3. Запуск rails new для генерации нового приложения. </h5></li>
$ mkdir rails_projects
$ cd rails_projects
$ rails new first_app
<li><h5 id="Листинг 1.5">Листинг 1.5. Gemfile Gemfile надлежащий.</h5></li>
source 'https://rubygems.org'<p>
ruby '2.0.0'<p>
#ruby-gemset=railstutorial_rails_4_0<p>

gem 'rails', '4.0.2'<p>

group :development do<p>
  gem 'sqlite3', '1.3.8'<p>
end<p>

gem 'sass-rails', '4.0.1'<p>
gem 'uglifier', '2.1.1'<p>
gem 'coffee-rails', '4.0.1'<p>
gem 'jquery-rails', '3.0.4'<p>
gem 'turbolinks', '1.1.1'<p>
gem 'jbuilder', '1.0.2'<p>

group :doc do<p>
  gem 'sdoc', '0.3.20', require: false<p>
end<p>----------------<p>
$ bundle update<p>
$ bundle install<p>

<li><h5 id="Gemfile_dob">Листинг 1.9. Gemfile с добавленными гемами и явно указанной версией Ruby.</h5>  </li>  Text
Листинг 1.9. Gemfile с добавленными гемами и явно указанной версией Ruby.<p>

source 'https://rubygems.org'<p>
ruby '2.0.0'<p>
#ruby-gemset=railstutorial_rails_4_0<p>

gem 'rails', '4.0.2'<p>

group :development do<p>
  gem 'sqlite3', '1.3.8'<p>
end<p>

gem 'sass-rails', '4.0.1'<p>
gem 'uglifier', '2.1.1'<p>
gem 'coffee-rails', '4.0.1'<p>
gem 'jquery-rails', '3.0.4'<p>
gem 'turbolinks', '1.1.1'<p>
gem 'jbuilder', '1.0.2'<p>

group :doc do<p>
  gem 'sdoc', '0.3.20', require: false<p>
end<p>

group :production do<p>
  gem 'pg', '0.15.1'<p>
  gem 'rails_12factor', '0.0.2'<p>
end<p>

<li><h5 id="Gemfile">Gemfile для демонстроения.Листинг2.1.</h5>  </li>
    <li>  <h5 id="railscreate"> Создание нового проекта></h5> </li>
<p>
			cd ~/rails_projects<nbsp>
			$ rails new sample_app --skip-test-unit  
              
   $ bundle install --without production<p>
$ bundle update<p>
$ bundle install <p>                
     </ol>	
<li><h4 id="Glava2">Глава 2 demo app</h4> <p>
      <ol>
<!---------------------------------------------------Таблица 2.1 ---->
   <li> Таблица 2.1: Cоответствие между страницами и URL для ресурса Users.</li>
<p>
<table border="1" width="50%" cellpadding="5">
   <tr>
    <th>URL</th>   		
    <th>Действие</th>
<th>Назначение</th>
   </tr>

<tr>		  
    <td>1 /users</td>
    <td>index</td>
<td>страница, для отображения списка всех пользователей</td>
</tr>

 <tr>		
    <td>2 /users/1</td>
    <td>show</td>
<td>страница показывающая пользователя с id 1</td>
</tr>
<tr>
<td>3 /users/new</td>
<td>new</td>
<td>страница для создания нового пользователя</td>		
  </tr>
<tr>
<td>5 /users/1/edit</td>   		
<td>edit</td>
<td>страница для редактирования пользователя с id 1</td>
  </tr>
 </table><p>

<!-------------Таблица 2.1 Конец--------------------------------><p> 

<li><h5 id="Users_rb">Листинг 2.2. Маршруты Rails для ресурса Users. </h5>  </li>
Листинг 2.2. Маршруты Rails, с правилом для ресурса Users. 
config/routes.rb<p>
DemoApp::Application.routes.draw do<p>
  resources :users<p>
  .
  .
  .
end<p>
<!--- Таблица 2.2    --->
<li><h5 id="RESTful_1">Таблица 2.2: RESTful маршруты предоставленные ресурсом Users в Листинге 2.2.></h5></li><p><p>
<!-- НАчало Таблица 2.2-->
<table border="1" width="50%" cellpadding="5">
   <tr>
<th>HTTP запрос</th> 
<th>URL</th> 
<th>Действие</th>   		
<th>Назначение</th>
   </tr>
<tr>	
<th>1 GET</th> 	  
    <td>/users</td>
    <td>index</td>
<td>страница, для отображения списка всех пользователей</td>
</tr>
 <tr>	
<th>2 GET</th> 	
    <td>/users/1</td>
    <td>show</td>
<td>страница показывающая пользователя с id 1</td>
</tr>
<tr>
<th>3 GET</th> 
<td>/users/new</td>
<td>new</td>
<td>страница для создания нового пользователя</td>		
  </tr>
<tr>
<th>4 POST</th> 
<td>/users</td>
<td>create</td>
<td>создание нового пользователя</td>		
  </tr>
<th>5 GET</th> 
<td>/users/1/edit</td>   		
<td>edit</td>
<td>страница для редактирования пользователя с id 1</td>
  </tr>
<th>6 PATCH </th> 			
<td>/users/1</td>   		
<td>update</td>
<td>обновление пользователя с id 1</td>
  </tr>
<th>7 DELETE</th> 		
<td>/users/1</td>   		
<td>destroy </td>
<td><удаление пользователя с id 1</td>
  </tr>
 </table>
<p>
<!--- Конец Таблица 2.2-->
<li><h5 id="index">Листинг 2.4. Упрощенное index действие.</h5>  </li>
<app/controllers/users_controller.rb<p>

class UsersController < ApplicationController<p>

  def index<p>
    @users = User.all<p>
  end<p>
  .<p>
 end<p>
<p>

<li><h5 id="User">Листинг 2.5. Модель User для демонстрационного приложения. </h5>  </li>
app/models/user.rb<p>
class User < ActiveRecord::Base<p>
end<p>
<li><h5 id="index">Листинг 2.6. Представление для index.Добавить png !</h5>  </li>  

<li><h5 id="Microposts_routes">Листинг 2.7. Маршруты для Microposts</h5></a>
Листинг 2.7. Маршруты Rails с новым правилом для ресурсов Microposts.
config/routes.rb<p>

DemoApp::Application.routes.draw do<p>
  resources :microposts<p>
  resources :users<p>
  .<p>
end<p>


<li><h5 id="RESTful_2">Таблица 2.3: RESTful маршруты для Microposts в Листинге 2.7.</a>
<!-- НАчало Таблица 2.3-->
<table border="1" width="50%" cellpadding="5">
  <tr>
<th> HTTP запрос </th>
	<td>URL</td>
	<td>Действие	</td>
	<td>Назначение</td>
  </tr>  
<tr>
	<td>GET</td>
	<td>/microposts</td>
	<td>index</td>	
  	<td>страница со списком всех микросообщений</td>	
</tr>

<tr>
	<td>GET</td>
	<td>/microposts/1	</td>
	<td>show</td>	
  	<td>страница показывающая микросообщение с id 1</td>	
</tr>
<tr>
	<td>GET</td>
	<td>	/microposts/new</td>
	<td>new</td>	
  	<td>создание нового микросообщения</td>	
</tr>
<tr>
	<td>GET</td>
	<td>/microposts/1/edit</td>
	<td>edit</td>	
  	<td>страница для редактирования микросообщения с id 1</td>	
</tr>
<tr>
	<td>PATCH</td>
	<td>/microposts/1</td>
	<td>update</td>	
  	<td>обновление микросообщения с id 1</td>	
</tr>
<tr>
	<td>DELETE</td>
	<td>/microposts/1</td>
	<td>destroy</td>	
  	<td>удаление микросообщения с id 1</td>	
</tr>
	 </table><p>
<!-- Конец Таблицы 2.3-->















	</ol>

<li><h4 id="Glava3">Глава 3.В основном статические страницы</h4> <p>
	<ol>
<li>Листинг 3.4. Генерация контроллера StaticPages.
rails generate controller StaticPages home help --no-test-framework
</li>
<li>Листинг 3.5. Маршруты для home и help действий контроллера StaticPages.config/routes.rb<.li>

SampleApp::Application.routes.draw do
  get "static_pages/home"<p>
  get "static_pages/help"<p>

<li>Немного динамические страницы</li><p>

<li><h5 id="Gemfile">Gemfile для демонстроения.Листинг2.1.</h5>  </li>

	<li><<h5 id="Table3.1">Таблица 3.1: (В основном) статические страницы для примера приложения.</h5> </li><p>
<!-------------Таблица 3.1 --------------------------------><p>
<table border="1" width="50%" cellpadding="5">
	   <tr> 			
		    <th>Страница</th>   	
		    <th>URL</th>
		    <th>Базовый заголовок</th>
		    <th> Изменяющийся заголовок    </th>
	   </tr>
	<tr>		  
	    <td>Home</td>
	    <td>/static_pages/home</td>
	<td>"Ruby on Rails Tutorial Sample App"</td>
	<td>"Home"</td>
	</tr>
	 <tr>		
	    <td>Help   </td>
	    <td>/static_pages/help</td>
	    <td> "Ruby on Rails Tutorial Sample App"</td>
	    <td>"Help" </td>
	</tr>
	<tr>
		<td>Help</td>
		<td>/static_pages/help</td>
		<td>"Ruby on Rails Tutorial Sample App"</td>
		<td>"Help"</td>				
	  </tr>
	<tr>
	<tr>
		<td>About</td>
		<td>/static_pages/about</td>
		<td>"Ruby on Rails Tutorial Sample App"</td>
		<td>"About"</td>				
	  </tr>
</table><p>
	<p>
<!---------------------------------Конец Таблица 3.1   ---->


<li>Обзор пользователя</li> <p>
	<img src="URL" alt="альтернативный текст">   Картинка<p>
<li>Листинг 3.20. Представление для Home страницы с полной HTML структурой. app/views/static_pages/home.html.erb</li>

<li>
Листинг 3.23. Представление для страницы Home с Embedded (встроенным) Ruby заголовком.app/views/static_pages/home.html.erb </li>
	</ol>
</ol>
</nav>




	<!-------------------------------------------Шаблон--->
<li><a href="#Here">Сюда</a>  TOC для Главы


<li><h4 id="Here">Сюда.</h4>  </li>  Text для Главы
<li><h5 id="Here">Сюда. </h5>  </li>  Text для подзаголовка
-----------------------------
<table border="1" width="50%" cellpadding="5">
  <tr>
<th>   </th> 
	<td></td>
	<td></td>
	<td></td>
	<td></td>				
  </tr>  
	 </table><p>
<!-------------------------------------------Конец Шаблона--->




